{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    <div id="models">
        <div class="box">
            <div class="box-header">
                <span>Models</span>
            </div>

            <div class="box">
                <div class="box-header">
                    {%if sub_model_info["env"]=="preprod" %}
                        <span>Ready Models</span>
                    {%else%}
                        <span>Deployed Models</span>
                    {% endif %}  
                    <small class="pull-right">Listing {{ models|count() }}/{{sub_model_info.model_cnt}} models</small>
                </div>
                <div class="box-content">
                    <form id="connections-form" action="" method="get">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Model Name</th>
                                    <th>Environment</th>
                                    <th>Versions</th>
                                    <th>Max Version</th>
                                    {%if sub_model_info["env"]=="preprod" %}
                                        <th>Modification time</th>
                                    {%else%}
                                        <th>Recomserver</th>
                                        <th>Rewardserver</th>
                                        <th>Size</th>
                                        <th>Modification time</th>
                                    {% endif %}  
                                </tr>
                                <tr>
                                    <th>
                                        <input type="text" name="model_name" value="{{ search_model_name }}" />
                                    </th>
                                    <th>
                                        <select name="env">
                                            {% for key,val in envs.items() %}
                                                <option value="{{ val }}" {{'selected="selected"' if env == val}}>{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for model in models %}
                                <tr>
                                    <td>
                                        {% if model %}
                                            <a href="{{ url_for(".model_details",
                                                modelname=model, 
                                                section="overview", 
                                                version="None",
                                                env=sub_model_info["env"])}}">{{ model }}</a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{sub_model_info["env"]}}</td>
                                    <td>{{sub_model_info[model]["version_list"]|length}}</td>
                                    <td>{{sub_model_info[model]["version_list"][0] if  
                                        sub_model_info[model]["version_list"] else "-"}}</td>
                                    
                                    {% if sub_model_info["env"]=="preprod" %}
                                        <td>
                                            {{sub_model_info[model].dtmod | fromtimestamp2 if
                                                sub_model_info[model]["dtmod"] else "-"}}
                                        </td>
                                    {%else%}
                                        <td>
                                            {{sub_model_info[model].recom_ports if
                                                 sub_model_info[model].recom_ports else "-"}}
                                                 {% if sub_model_info[model].recom_ports_status=="running" %}
                                                <small><span class="label label-success">running</span></small>
                                                {%else%}
                                                <small><span class="label label-danger">{{sub_model_info[model].recom_ports_status if
                                                    sub_model_info[model].recom_ports_status else ""}}</span></small>
                                                {% endif %}
                                        </td>
                                        <td>
                                            {{sub_model_info[model].reward_ports if
                                                sub_model_info[model].reward_ports else "-"}}
                                                {% if sub_model_info[model].reward_ports_status=="running" %}
                                                <small><span class="label label-success">running</span></small>
                                                {%else%}
                                                <small><span class="label label-danger">{{sub_model_info[model].reward_ports_status if
                                                    sub_model_info[model].reward_ports_status else ""}}</span></small>
                                                {% endif %}
                                        </td>
                                        <td>
                                            {{sub_model_info[model].model_size if
                                                sub_model_info[model]["model_size"] else "-"}}
                                        </td>
                                        <td>
                                            {{sub_model_info[model].dtmod | fromtimestamp2 if
                                                sub_model_info[model]["dtmod"] else "-"}}
                                        </td>
                                    {%endif%}                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    <nav aria-label="Page navigation" style="bottom: 0; position: relative;right: 0;">
                        <ul class="pagination" style="margin-bottom: 5px;">
                          <li>
                            <a href="{{ url_for(".view_models",
                            previous="1", 
                            next="0",
                            page_index=sub_model_info["page_info"]["current_page"], 
                            env=sub_model_info["env"])}}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          {% for page in sub_model_info["page_info"]["pages"] %}
                            {% if sub_model_info["page_info"]["current_page"]==page %}
                                <li class="active"><a href="{{ url_for(".view_models",
                                    previous="0", 
                                    next="0",
                                    page_index=page, 
                                    env=sub_model_info["env"])}}">{{page}}</a></li>
                            {%else%}
                                <li><a href="{{ url_for(".view_models",
                                    previous="0", 
                                    next="0",
                                    page_index=page, 
                                    env=sub_model_info["env"])}}">{{page}}</a></li>
                            {%endif%}         
                          {% endfor %}
                          <li>
                            <a href="{{ url_for(".view_models",
                            previous="0", 
                            next="1",
                            page_index=sub_model_info["page_info"]["current_page"], 
                            env=sub_model_info["env"])}}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
            </div>
    </div>
{% endblock %}