{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    <div id="models">
        <div class="box">
            <div class="box-header">
                <span>Models</span>
            </div>

            <div class="box">
                <div class="box-header">
                    <span>Deployed Models</span>
                    <small class="pull-right">Listing {{ models|count() }} models</small>
                </div>
                <div class="box-content">
                    <form id="connections-form" action="" method="get">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Model Name</th>
                                    <th>Environment</th>
                                    <th>Versions</th>
                                    <th>Version List</th>
                                    {%if sub_model_info["env"]=="preprod" %}
                                        <th>Modification time</th>
                                    {%else%}
                                        <th>Recomserver address</th>
                                        <th>Rewardserver address</th>
                                    {% endif %}  
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>
                                        <select name="env">
                                            {% for key,val in envs.items() %}
                                                <option value="{{ val }}" {{'selected="selected"' if env == val}}>{{ val }}</option>
                                            {% endfor %}
                                        </select>
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for model in models %}
                                <tr>
                                    <td>
                                        {% if model %}
                                            <a href="{{ url_for(".model_details",
                                                modelname=model, 
                                                section="overview", 
                                                version="None",
                                                env=sub_model_info["env"])}}">{{ model }}</a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{sub_model_info["env"]}}</td>
                                    <td>{{sub_model_info[model]["version_list"]|length}}</td>
                                    <td>{{sub_model_info[model].version_list if  
                                                sub_model_info[model]["version_list"] else "-"}}</td>
                                    
                                    {% if sub_model_info["env"]=="preprod" %}
                                        <td>
                                            {{sub_model_info[model].dtmod | fromtimestamp2 if
                                                sub_model_info[model]["dtmod"] else "-"}}
                                        </td>
                                    {%else%}
                                        <td>
                                            {{sub_model_info[model].recom_ports if
                                                 sub_model_info[model].recom_ports else "-"}}
                                        </td>
                                        <td>
                                            {{sub_model_info[model].reward_ports if
                                                sub_model_info[model].reward_ports else "-"}}
                                        </td>
                                    {%endif%}                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
            </div>
    </div>
{% endblock %}