{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    <div id="process" class="box">
        <div class="box-header">
            <span>{{ model_info.name }} ({{ current_version }})</span>
        </div>
        <div class="box-content">
            <ul class="nav nav-tabs" role="tablist">
                <li {% if section == "overview" %}class="active"{% endif %}>
                    <a href="{{ url_for(".model_details", modelname=model_info.name,
                        section="overview",
                        env=env,
                        version=current_version) }}">Overview</a>
                </li>
                {%if env!="preprod" %}
                <li {% if section == "environment" %}class="active"{% endif %}>
                    <a href="{{ url_for(".model_details", modelname=model_info.name, 
                        section="environment",
                        env=env,
                        version=current_version) }}">
                        Environment
                    </a>
                </li>
                {%endif%}
                <li {% if section == "files" %}class="active"{% endif %}>
                    <a href="{{ url_for(".model_details", modelname=model_info.name, 
                        section="files",
                        env=env,
                        version=current_version) }}">
                        Open files <span class="badge">{{ file_nums }}</span>
                    </a>
                </li>
                <li {% if section == "viewmodel" %}class="active"{% endif %}>
                    <a href="{{ url_for(".model_details", modelname=model_info.name,
                        section="viewmodel",
                        env=env,
                        version=current_version) }}">viewmodel</a>
                </li>
            </ul>
            {% block model_content %}{% endblock %}
        </div>
    </div>
{% endblock %}