{% extends "model.html" %}
{% block model_content %}
    <table class="table">
        <tr class="skip-border">
            <td>Model Name</td>
            <td>{{ model_info.name }}</td>
        </tr>
        <tr>
            {%if env=="preprod"%}
            <td>Current Env</td>
            {%else%}
            <td>Deployed Env</td>
            {%endif%}
            <td>({{ env}})</td>
        </tr>
        <tr>
            <td>current Version</td>
            <td>{{ current_version }}</td>
        </tr>
        {% if model_info.max_version%}
        <tr>
            <td>Model Versions</td>
            <td>
                <table class="table table-bordered">
                    {% for version in model_details.version_list %}
                    <tr>
                        <td><a href="{{ url_for(".model_details",
                            modelname=model_info.name,
                            section="overview",
                            env=env,
                            version=version) }}">{{version}}</a></td>
                        <td>{{model_details[version].size}}</td>
                        <td>{{ model_details[version].push_date | fromtimestamp2}}</td>
                    </tr>
            
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
        {%if env!="preprod"%}
        <tr>
            <td>Model Service Ports</td>
            <td>
                <table class="table table-bordered">
                    <tr>
                        <td>Recomserver Ports</td>
                        <td>{{ model_details.recom_ports if model_details.recom_ports else "-" }}</td>
                        <td>
                            {% if recom_status=="running" %}
                                <span class="badge">{{recom_status}}</span>
                            {% else %}
                                <span class="badge all">{{recom_status}}</span>
                            {% endif %}
                        </td>
                        <td><a href="{{ url_for(".model_details", modelname=model_info.name,
                            section="viewmodel",
                            env=env,
                            ops="restart",
                            version=current_version) }}">Restart</a></td>
                        <td><a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="recom_log",
                            section="viewmodel", 
                            ops="model_logs",
                            version=current_version,
                            env=env)}}">Logs</a>
                        </td>
                        <td><a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="recom_test",
                            section="viewmodel", 
                            ops="testing",
                            version=current_version,
                            env=env)}}">Testing</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Rewardserver Ports</td>
                        <td>{{ model_details.reward_ports if model_details.reward_ports else "-" }}</td>
                        <td>
                            {% if reward_status=="running" %}
                                <span class="badge">{{reward_status}}</span>
                            {% else %}
                                <span class="badge all">{{reward_status}}</span>
                            {% endif %}
                        </td>
                        <td><a href="{{ url_for(".model_details", modelname=model_info.name,
                            section="viewmodel",
                            ops="restart",
                            env=env,
                            version=current_version) }}">Restart</a>
                        </td>
                        <td><a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="reward_log",
                            section="viewmodel", 
                            ops="model_logs",
                            version=current_version,
                            env=env)}}">Logs</a>
                        </td>
                        <td><a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="reward_test",
                            section="viewmodel", 
                            ops="testing",
                            version=current_version,
                            env=env)}}">Testing</a>
                        </td>
                    </tr>
                    
                </table>
            </td>  
        </tr>
        {% endif %}
        {%if env=="preprod"%}
        <tr>
            <td>Model Publish</td>
            <td>
                <table class="table table-bordered">
                    <tr>
                        <td>Push to Dev</td>
                        <td>
                            <a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="push_model_new",
                            section="viewmodel", 
                            ops="push_to_dev",
                            version=current_version,
                            env=env)}}">New Version<small>(e.g. create 0.0 version)</small></a>
                        </td>
                        <td>
                            <a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="push_model_update",
                            section="viewmodel", 
                            ops="push_to_dev",
                            version=current_version,
                            env=env)}}">Update Current Version<small>(e.g. update content of 0.0 version)</small></a>
                        </td>
                        <td>
                            <a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="push_model_bump_minor",
                            section="viewmodel", 
                            ops="push_to_dev",
                            version=current_version,
                            env=env)}}">Bump-minor Version<small>(e.g. 0.0—>0.1)</small></a>
                        </td>
                        <td>
                            <a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="push_model_bump_major",
                            section="viewmodel", 
                            ops="push_to_dev",
                            version=current_version,
                            env=env)}}">Bump-major Version<small>(e.g. 1.9—>2.0)</small></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Push to Prod</td>
                        <td>
                            <a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="push_model_new",
                            section="viewmodel", 
                            ops="push_to_prod",
                            version=current_version,
                            env=env)}}">New Version<small>(e.g. create 0.0 version)</small></a>
                        </td>
                        <td>
                            <a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="push_model_update",
                            section="viewmodel", 
                            ops="push_to_prod",
                            version=current_version,
                            env=env)}}">Update Current Version<small>(e.g. update content of 0.0 version)</small></a>
                        </td>
                        <td>
                            <a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="push_model_bump_minor",
                            section="viewmodel", 
                            ops="push_to_prod",
                            version=current_version,
                            env=env)}}">Bump-minor Version<small>(e.g. 0.0—>0.1)</small></a>
                        </td>
                        <td>
                            <a href="{{ url_for(".model_details",
                            modelname=model_info.name, 
                            filename="push_model_bump_major",
                            section="viewmodel", 
                            ops="push_to_prod",
                            version=current_version,
                            env=env)}}">Bump-major Version<small>(e.g. 1.9—>2.0)</small></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endif %}
    </table>
{% endblock %}